/* Generate random string for class names to avoid interference */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      90deg,
      rgba(218, 60, 19, 1),
      rgba(230, 84, 12, 1),
      rgba(249, 120, 0, 1)
  );
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000000000000000;
}

.hidden {
    display: none;
}

.popup-content {
    display: flex;
    flex-direction: column;
}

#reportTextarea {
    width: 667px; 
    height: 211px;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.analyze-btn, .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.analyze-btn {
    background-color: #4CAF50;
    color: white;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
}

.loading {
    margin-top: 10px;
    text-align: center;
}

.response {
    margin-top: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}
