/* Generate random string for class names to avoid interference */
.popup,.curator-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      90deg,
      rgba(218, 60, 19, 1),
      rgba(230, 84, 12, 1),
      rgba(249, 120, 0, 1)
  );
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000000000000000;
}

.hidden,.curator-hidden {
    display: none;
}

.popup-content,.curator-popup-content {
    display: flex;
    flex-direction: column;
    min-width: 360px;
    
}

#reportTextarea {
    width: 667px; 
    height: 211px;
    margin-bottom: 15px;
}

.button-container,.curator-button-container {
    display: flex;
    justify-content: space-between;
}


.loading,.curator-loading {
    margin-top: 10px;
    text-align: center;
}

.response,.curator-response {
    margin-top: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}


/* rapport analysis response */

#response {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 20px;
    right:50%;
    
}

#response .country {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#response .procedure {
    color: #007BFF;
    font-weight: bold;
}

#response .details {
    margin-top: 10px;
    align-items: center;
}

#response .details span {
    display: block;
    margin: 5px 0;
}

#response .details .label {
    font-weight: bold;
    color: #555;
    margin-right: 10px; 
}

#response .details .value {
    color: #333;

}